* {
    margin: 0;
    padding: 0;
    color: rgb(235, 37, 11);
}

nav {
    justify-content: space-around;
    display: flex;
}

nav img {
    margin: 10px;
}

.right ul {
    list-style: none;
    margin: 40px;
    display: flex;
    gap: 30px;
}

.right ul li {
    list-style: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.right ul li span {
    padding: 4px;
}

.first {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 23px;
    margin: 70px;
    font-family: sans-serif;
}

.first span {
    font-size: 40px;
}

.first span img {
    width: 120px;
    margin: 0 23px;
}

.first p {
    font-size: 23px;
    width: 44vw;
    text-align: center;
}

.btn {
    background-color: #deb5ad7d;
    padding: 15px 10px;
    color: #020202;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 700;
}

.btn a {
    text-decoration: none;
    color: white;
}

.blue {
    background-color: rgb(72, 0, 255);
}

.green {
    background-color: #5cb85c;
}

.flex {
    display: flex;
}

.small {
    font-size: 12px;
}

.second {
    max-width: 50vw;
    margin: auto;
    color: #020202;
}

.item {
    padding: 23px;
    background: #deb5ad7d;
    border-radius: 12px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.item-lang {
    font-weight: 700;
    text-align: center;
    padding-bottom: 36px;
    color: #020202;
}

.grid {
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
}

.download :nth-child(2) {
    font-size: 30px;
    color: #020202;
}

.download span b {
    color: #020202;
}

.download img {
    padding: 0px 12px;
    margin: 20px;
}

.download {
    display: flex;
    font-family: sans-serif;
    gap: 10px;
    align-items: center;
}
@media screen and (max-width: 1145px) {
    .grid {
        grid-template-columns: 1fr;
    }
}

